{% extends "base.html" %}
{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="../static/lang-logo.png">
    </a>
    <h1>Overall Page</h1>
    <p>We have researched on the data and got some infomation. Here are specific statistical result presented by tables and charts.</p>
   </div>
</div>

<div class="container" style="text-align: center">
      <h3>Total</h3>
      <img src="../static/pic/overall1.png" style="border-left-style:hidden;height: 80%;width: 80%" border="0" />
      <br/>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <h3>Department Distribution</h3>
      <img src="../static/pic/overall2.png" style="border-left-style:hidden;height: 80%;width: 80%" />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <h3>Number</h3>
      <img src="../static/pic/overall3.png" style="border-left-style:hidden;height: 80%;width: 80%" border="0"/>
      <br />
</div>

{% endblock %}
